language: bash
sudo: required

before_install:
  - docker pull weecology/portal_predictions
  - docker run --name ppred -t -d weecology/portal_predictions /bin/bash

script:
  - pwd
  - cd ..
  - ls -a
  - cp -R travistest portalPredictions
  - docker cp portalPredictions ppred:
  - docker exec -i ppred ls portalPredictions
