language: r
cache: packages
sudo: false

install:
  - R -e "install.packages(c('htmltab'))"

script:
  - curl -o weather_table_cli.html http://166.153.133.121/?command=TableDisplay&table=MET&records=10
  - R -e "download.file('http://166.153.133.121/?command=TableDisplay&table=MET&records=10', 'weather_table.html', method='libcurl')"
  - R -e "htmltab::htmltab(doc='weather_table.html', sep = '')"