language: bash
sudo: required

before_install:
  - docker pull weecology/portal_predictions
  - docker run --name ppred -t -d weecology/portal_predictions /bin/bash

script:
  - ls -a
  - docker cp *.* ppred:portalPredictions
  - docker exec -i ppred ls portalPredictions
