language: r
cache: packages
sudo: false
addons:
  apt:
    packages:
      - phantomjs


install:
  - R -e "install.packages(c('htmltab', 'curl'))"

script:
  - phantomjs scrape_weather_data.js
  - head data_table.html
  - tail data_table.html